.cast {
  margin-top: 20px;
}

.cast__list {
  width: 100%;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.cast__item {
  width: calc((100% - 40px) / 5);
  text-align: center;
}

.cast__img {
  display: block;
  width: 100%;
  height: auto;
}

.cast__text {
  font-size: 18px;
  font-weight: 600;
}

.cast__name {
  font-size: 20px;
}
