.header__wrap {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.header__link {
  color: black;
  font-size: 16px;
  margin-right: 10px;
}

.active {
  color: orange;
  margin-right: 10px;
}

.header__link:last-child {
  margin-right: 0;
}
